.box-sized{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.www-wrapper{
	width: 420px;
	height: 350px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -175px 0 0 -210px;
}
.mac{
	width: 420px;
	height: 300px;
	border-radius: 15px 15px;
	border: 20px solid #1E3336;
	background: #FFF;
}
.mac-bottom{
	width: 12px;
	height: 12px;
	position: absolute;
	bottom: 54px;
	left: 50%;
	border-radius: 50%;
	margin-left: -6px;
}
.apple-topleft,.apple-topright,.apple-bottomleft,.apple-bottomright,.apple-leaf,.apple-circleleft,.apple-circleright,.apple-bite,.apple-topMask,.apple-bottomMask,.apple-filler1{
	background:#eaf5ff;
	position:absolute;
}
.apple-filler1{
	width:6px;
	height:18px;
	bottom:2.5px;
	left:7px;
	z-index:1;
}
.apple-bite{
	background: #1E3336;
	width:11px;
	height:11px;
	border-radius:11px;
	left:13px;
	top:9px;
	z-index:2;
}
.apple-topMask{
	width:6px;
	height:6px;
	top:1px;
	left:4.5px;
	z-index:2;
	background: #1E3336;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	-webkit-border-bottom-right-radius: 9px 5px;
	-moz-border-radius-bottomright: 9px 5px;
	border-bottom-right-radius: 9px 5px;
}
.apple-bottomMask{
	width:7.5px;
	z-index:2;
	height:7.5px;
	top:24px;
	left:6px;
	background: #1E3336;
	-webkit-border-radius:9px;
	-moz-border-radius:9px;
	border-radius:9px;
}
.apple-topleft{
	width:8.5px;
	height:7.5px;
	-webkit-border-top-left-radius:7.5px 7.5px;
	-moz-border-radius-topleft:7.5px 7.5px;
	border-top-left-radius:7.5px 7.5px;
	-webkit-border-top-right-radius:2.5px;
	-moz-border-radius-topright:2.5px;
	border-top-right-radius:2.5px;
	top:7px;
	left:0;
}
.apple-bottomleft{
	width:7px;
	height:11.5px;
	bottom:2px;
	left:0;
	-webkit-border-bottom-left-radius:7px 11.5px;
	-moz-border-radius-bottomleft:7px 11.5px;
	border-bottom-left-radius:7px 11.5px;
}
.apple-topright{
	width:8px;
	height:7px;
	-webkit-border-top-right-radius:7.5px 7.5px;
	-moz-border-radius-topright:7.5px 7.5px;
	border-top-right-radius:7.5px 7.5px;
	-webkit-border-top-left-radius:3px 2.5px;
	-moz-border-radius-topleft:3px 2.5px;
	border-top-left-radius:3px 2.5px;
	top:6.5px;
	left:11px;
}
.apple-bottomright{
	width:7px;
	height:11.5px;
	bottom:2px;
	left:12px;
	-webkit-border-bottom-right-radius:7px 11.5px;
	-moz-border-radius-bottomright:7px 11.5px;
	border-bottom-right-radius:7px 11.5px;
}
.apple-circleleft{
	bottom:2px;
	left:5px;
	width:5px;
	height:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.apple-circleright{
	bottom:2px;
	left:10px;
	width:5px;
	height:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.apple-leaf{
	width:5px;
	height:6px;
	-webkit-border-top-left-radius:10px 11px;
	-webkit-border-bottom-right-radius:10px 11px;
	-webkit-border-bottom-left-radius:1px;
	-webkit-border-top-right-radius:1px;
	-moz-border-radius-topleft:10px 11px;
	-moz-border-radius-bottomright:10px 11px;
	-moz-border-radius-bottomleft:1px;
	-moz-border-radius-topright:1px;
	border-top-left-radius:10px 11px;
	border-bottom-right-radius:10px 11px;
	border-bottom-left-radius:1px;
	border-top-right-radius:1px;
	top:-1px;
	left:7.5px;
	z-index:3;
	background-image:-o-linear-gradient(top,#eaf5ff,#d0d5dd);
	background-image:-moz-linear-gradient(top,#eaf5ff,#d0d5dd);
	background-image:-webkit-linear-gradient(top,#eaf5ff,#d0d5dd);
	background-image:-ms-linear-gradient(top,#eaf5ff,#d0d5dd);
	background-image:linear-gradient(to bottom,#eaf5ff,#d0d5dd);
}
.apple{
	margin: -7px auto 0 auto;
	transform: scale(0.5);
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	width:22px;
	height:27px;
	position:relative;
}
.mac-stand{
	width: 70px;
	height: 30px;
	background: #DDD;
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -33px;
}
.mac-stand:before{
	content: "";
	position: absolute;
	bottom: -10px;
	border-bottom: 10px solid #D2D2D2;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    height: 0;
    width: 70px;
    margin-left: -3px;
}
.mac-stand:after{
	content: "";
	width: 110px;
	height: 10px;
	background: #BBB;
	position: absolute;
	bottom: -20px;
	margin-left: -20px;
	-webkit-border-top-left-radius:10px 11px;
	-webkit-border-top-right-radius:10px 11px;
	-moz-border-radius-topleft:10px 11px;
	-moz-border-radius-topright:10px 11px;
	border-top-left-radius:10px 11px;
	border-top-right-radius:10px 11px;
}
.mac-inner{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;	
}
.browser{
	content: "";
	position: absolute;
	top: 4px;
	border-bottom: 8px solid #6cd89a;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	height: 0;
	width: 50px;
	margin-left: 22px;
}
.browser:after{
	content: "";
	position: absolute;
	width: 4px; 
	height: 4px;
	border-radius: 50%;
	background: #ee3d3d;
	margin-left: -22px;
	margin-top: 1px;
	box-shadow: 6px 0px #e7a348, 12px 0 #5b8f3f;
}
ul.things{
	position: absolute;
	margin-top: 12px;
	width: 100%;
	height: 248px;
	background: #93e5b6;
	padding-top: 10px;
}
ul.things>li{
	width: 33.33%;
	height: 120px;
	float: left;
	position: relative;
	overflow: visible;
}
ul.things>li:nth-child(even){
	background: #80d4a4;
}


/* Sugar, spice and everything nice goes here */
.headphones{
	width: 80px;
	height: 80px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -39px 0 0 -40px;
}
.headphones:after{
	width: 5px;
	height: 7px;
	background: #49575E;
	position: absolute;
	content: "";
	margin: 5px 0 0 -2px;
	box-shadow: 79px 0 0 #49575e;
}
.headphones-outer{
	height:45px;
	width:70px;
	border-radius: 90px 90px 0 0;
	border: 5px solid #fff;
	border-bottom: 0;
}
.headphones-outer:before{
	content: "";
	position: absolute;
	border: 4px solid #49575E;
	height: 4px;
	width: 28px;
	border-radius: 90px 90px 0 0;
	border-bottom: 0;
	margin: 0px 0 0 17px;
	border-top-left-radius: 268px 150px;
	border-top-right-radius: 270px 150px;
}
.headphones-outer:after{
	content: "";
	width: 5px; 
	height: 30px;
	background: #49575E;
	position: absolute;
	margin: 30px 0 0 -5px;
	box-shadow: 75px 0 #49575E;
}
.headphones-ear{
	width: 15px;
	height: 25px;
	background: #fff;
	border-radius: 50px 0 0 50px;
	position: absolute;
	z-index: 2;
	margin: 0 2px;
}
.headphones-ear:after{
	content: "";
	width: 15px;
	height: 25px;
	background: #fff;
	border-radius: 50px 0 0 50px;
	position: absolute;
	z-index: 2;
	margin: 0 2px;
	margin-left: 61px;
	transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
}
.headphones-ear:before{
	content: "";
	position: absolute;
	background: #49575E;
	width: 6px;
	margin: -2px 0 0 13px;
	height: 30px;
	box-shadow: 44px 0 0 #49575E;
	z-index: 3;
}
.headphones-wire{
	width: 60px;
	position: absolute;
	height: 1px;
	background: #666;
	margin-top: 35px;
	margin-left: 15px;
}
.headphones-wire:before{
	content: "";
	width: 9px;
	height: 13px;
	background: transparent;
	border-radius: 20px 0 0 20px;
	position: absolute;
	border: 1px solid #666;
	border-right: 0;
	margin: -14px -10px;
}
.headphones-wire:after{
	content: "";
	width: 9px;
	height: 13px;
	background: transparent;
	border-radius: 0px 20px 20px 0px;
	position: absolute;
	border: 1px solid #666;
	border-left: 0;
	margin: 0px 58px;
}


.joystick{
	width: 80px;
	height: 80px;
	position: absolute;
	transform: scale(1.3);
	left: 50%;
	top: 50%;
	margin: -40px 0 0 -35px;
}
.joy-handles{
	width: 20px;
	height: 50px;
	background: #fff;
	margin: 15px 0 0 0px;
	position: absolute;
	border-top-left-radius: 67px 120px;
	border-bottom-left-radius: 16px 20px;
	border-bottom-right-radius: 51px;
	z-index: 2;
}
.joy-handles:after{
	content: "";
	width: 20px;
	height: 50px;
	background: #fff;
	margin: 0 0 0 51px;
	position: absolute;
	border-top-left-radius: 67px 120px;
	border-bottom-left-radius: 16px 20px;
	border-bottom-right-radius: 51px;
	transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
}
.joy-curve{
	width: 43px;
	height: 40px;
	position: absolute;
	background: #FFF;
	margin: 16px 0 0 14px;
}
.joy-curve:before{
	background: #80d4a4;
	width: 40px;
	height: 20px;
	border-radius: 50%;
	content: "";
	z-index: 3;
	position: absolute;
	margin: -16px 0 0 2px;
}
.joy-curve:after{
	background: #80d4a4;
	width: 37px;
	height: 20px;
	border-radius: 50%;
	content: "";
	z-index: 3;
	position: absolute;
	margin: 35px 0 0 3px;
}
.joy-leftButtons{
	background: #49575E;
	width: 4px;
	height: 4px;
	position: absolute;
	margin: 28px 0 0 15px;
	z-index: 5;
	box-shadow: 0 11px #49575E, -6px 5px #49575E, 6px 5px #49575E;
}
.joy-leftButtons:before{
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px 2px 0 2px;
	border-color: #49575E transparent transparent transparent;
	margin: 4px 0 0 0;
}
.joy-leftButtons:after{
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0px 2px 4px 2px;
	border-color: transparent transparent #49575E transparent;
	margin: 7px 0 0 0;
}
.joy-leftButtons-filler{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 2px 0 2px 4px;
	border-color: transparent transparent transparent #49575E;
	position: absolute;
	margin: 5px 0 0 -2px;
}
.joy-leftButtons-filler:after{
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 2px 4px 2px 0;
	border-color: transparent #49575E transparent transparent;
	position: absolute;
	margin: -2px 0 0 0px;
}
.joy-rightButtons{
	width: 4px;
	height: 4px;
	border-radius: 50px;
	background: #1abc9c;
	position: absolute;
	margin: 28px 0 0 52px;
	z-index: 5;
	box-shadow: 4px 4px #e74c3c, -4px 4px #9b59b6, 0px 8px #3498db;
}
.joy-centerButtons{
	position: absolute;
	width: 10px;
	height: 10px;
	background: #666;
	margin: 39px 0 0 31px;
	border-radius: 50%;
	z-index: 5;
}

.ticket{
	width: 109px;
	height: 50px;
	position: absolute;
	top: 50%;
	margin-top: -36px;
}
.ticket-left{
	width: 110px;
	height: 50px;
	background: #fff;
	position: absolute;
	margin: 10px;
}
.ticket-left:before{
	content: "";
	position: absolute;
	height: 6px;
	width: 3px;
	border-radius: 0 6px 6px 0;
	background: #93e5b6;
	margin-top: 2px;
	box-shadow: 0 8px 0 #93e5b6, 0 16px 0 #93e5b6, 0 24px 0 #93e5b6, 0 32px 0 #93e5b6, 0 40px 0 #93e5b6;
}
.ticket-left:after{
	content: "";
	width: 2px;
	height: 4px;
	background: #93e5b6;
	position: absolute;
	margin: 0px 0 0 90px;
	box-shadow: 0 6px 0 #93e5b6, 0 12px 0 #93e5b6, 0 18px 0 #93e5b6, 0 24px 0 #93e5b6, 0 30px 0 #93e5b6, 0 36px 0 #93e5b6, 0 42px 0 #93e5b6, 0 48px 0 #93e5b6;
}
.ticket-inner{
	width: 76px;
	height: 42px;
	border-radius: 2px;
	border: 1px solid #ddd;
	position: absolute;
	margin: 3px 7px;
}
.ticket-inner:after{
	content: "";
	position: absolute;
	height: 42px;
	width: 1px;
	background: #ddd;
	margin-left: 12px;
	box-shadow: 52px 0px 0 #ddd;
}
.ticket-zoholics{
	font-family: 'Roboto', sans-serif;
	font-size: 9px;
	position: absolute;
	color: #666;
	margin: 10px 0 0 24px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	width: 50px;
}
.ticket-zoholics:after{
	background: #ddd;
	height: 1px;
	width: 51px;
	position: absolute;
	content: "";
	margin: 15px 0 0 -48px;
}
.ticket-zoholics:before{
	position: absolute;
	content: "";
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background: #ddd;
	margin: 11px 0 0 19px;
	border: 3px solid #fff;
	z-index: 10;
}
.ticket-admit{
	position: absolute;
	font-size: 8px;
	color: #888;
	margin: 34px 0 0 23px;
	letter-spacing: 0.02em;
}
.ticket-left-seq{
	position: absolute;
	font-size: 8px;
	color: #999;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	margin: 21px 0 0 -2px;
	letter-spacing: 0.03em;
}
.ticket-right-seq{
	margin-left: 62px;
}
.ticket-barcode{
	position: absolute;
	width: 10px;
	height: 1px;
	background: #777;
	margin: 5px 0 0 95px;
	box-shadow: 0px 1px 0 #777, 0px 3px 0 #777,0px 5px 0 #777,0px 7px 0 #777,0px 8px 0 #777,0px 9px 0 #777,0px 11px 0 #777,0px 13px 0 #777,0px 14px 0 #777,0px 16px 0 #777,0px 18px 0 #777,0px 19px 0 #777,0px 21px 0 #777,0px 23px 0 #777,0px 24px 0 #777,0px 25px 0 #777,0px 27px 0 #777,0px 29px 0 #777,0px 31px 0 #777,0px 33px 0 #777,0px 34px 0 #777,0px 36px 0 #777,0px 38px 0 #777,0px 39px 0 #777,0px 41px 0 #777;
}

.tshirt{
	width: 70px;
	height: 70px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -35px;
}
.tshirt-body{
	width: 50px;
	height: 70px;
	background: #FFF;
	position: absolute;
	border-top-left-radius: 30px 10px;
	border-top-right-radius: 30px 10px;
	margin-left: 10px;
}
.tshirt-body:before{
	content: "";
	position: absolute;
	width: 16px;
	height: 25px;
	background: #fff;
	margin-left: -10px;
	margin-top: 5px;
	border-top-left-radius: 20px 20px;
}
.tshirt-body:after{
	content: "";
	position: absolute;
	width: 16px;
	height: 25px;
	background: #fff;
	margin-left: 44px;
	margin-top: 5px;
	border-top-right-radius: 20px 20px;
}
.tshirt-sleeve{
	width: 10px;
	height: 2px;
	background: #bf1313;
	position: absolute;
	margin: 28px 0 0 -10px;
	box-shadow: 60px 0 0 #bf1313, 10px 40px 0 #bf1313, 20px 40px 0 #bf1313, 30px 40px 0 #bf1313, 40px 40px 0 #bf1313, 50px 40px 0 #bf1313;
	z-index: 2;
}
.tshirt-neck{
	width: 26px;
	height: 10px;
	border-radius: 50%;
	background: #bf1313;
	position: absolute;
	margin: -4px 0 0 12px;
	z-index: 2;
}
.tshirt-neck:after{
	background: #80d4a4;
	width: 26px;
	height: 10px;
	position: absolute;
	content: "";
	border-radius: 50%;
	z-index: 1;
	margin-top: -2px;
}
.flash-wrapper{
	background: #bf1313; /* Old browsers */
	background: -moz-linear-gradient(top,  #bf1313 0%, #a31c10 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bf1313), color-stop(100%,#a31c10)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #bf1313 0%,#a31c10 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #bf1313 0%,#a31c10 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #bf1313 0%,#a31c10 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #bf1313 0%,#a31c10 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf1313', endColorstr='#a31c10',GradientType=0 ); /* IE6-9 */
	width: 300px;
	height: 300px;
	border-radius: 50%;
	border: 2px solid #CCC;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -152px;
	box-shadow: 0px 0px 15px #ccc;
}
.flash-container{
	position: absolute;
	width: 250px;
	height: 500px;
	margin: -130px 0 0 80px;
}
.flash-upper{
	position: absolute;
}
.flash-upper-anim{
	animation: upper-animate 2.4s linear infinite;
	-webkit-animation: upper-animate 2.4s linear infinite;
	-moz-animation: upper-animate 2.4s linear infinite;
}
.flash-lower{
	position: absolute;
}
.flash-lower-anim{
	animation: lower-animate 2.4s linear infinite;
	-webkit-animation: lower-animate 2.4s linear infinite;
	-moz-animation: lower-animate 2.4s linear infinite;
}
.tri-1{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0px 150px 38px;
	border-color: transparent transparent #f4c28d transparent;
	transform: skew(-35deg);
	-webkit-transform: skew(-35deg);
	-moz-transform: skew(-35deg);
	margin: 104px;
	position: absolute;
	padding-bottom: 2px;
	z-index: 5;
}
.tri-1:before{
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0px 150px 33px;
	border-color: transparent transparent #F5D75D transparent;
	margin-left: -35px;
	position: absolute;
}
.tri-2{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0px 150px 35px;
	border-color: transparent transparent #F5D75D transparent;
	transform: skew(-35deg) rotate(180deg);
	-webkit-transform: skew(-35deg) rotate(180deg);
	-moz-transform: skew(-35deg) rotate(180deg);
	position: absolute;
	margin: 210px 0 0 57px;
	z-index: 10;
}
.tri-2-back{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0px 152px 38px;
	border-color: transparent transparent #f4c28d transparent;
	transform: skew(-35deg) rotate(180deg);
	-webkit-transform: skew(-35deg) rotate(180deg);
	-moz-transform: skew(-35deg) rotate(180deg);
	position: absolute;
	margin: 208px 0 0 56px;
	z-index: 4;
}
.tri-3{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0px 150px 35px;
	border-color: transparent transparent #F5D75D transparent;
	transform: skew(-35deg);
	-webkit-transform: skew(-35deg);
	-moz-transform: skew(-35deg);
	position: absolute;
	margin: 210px 0 0 56px;
	z-index: 10;
}
.tri-3-back{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0px 152px 37px;
	border-color: transparent transparent #f4c28d transparent;
	transform: skew(-35deg);
	-webkit-transform: skew(-35deg);
	-moz-transform: skew(-35deg);
	position: absolute;
	margin: 210px 0 0 55px;
	z-index: 4;
}
.tri-4{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0px 150px 38px;
	border-color: transparent transparent #f4c28d transparent;
	position: absolute;
	margin: 320px 0 0 10px;
	transform: skew(-35deg) rotate(180deg);
	-webkit-transform: skew(-35deg) rotate(180deg);
	-moz-transform: skew(-35deg) rotate(180deg);
	z-index: 5;
}
.tri-4:before{
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0px 148px 32px;
	border-color: transparent transparent #F5D75D transparent;
	position: absolute;
	margin: 0px 0 0 -34px;
}